:root {
    font-family: arial;
    --charcoal: rgb(55,63,81);
    --blue: rgb(0,141,213);
    --pink: 223,187,177;
    --mint: 173,208,179;
    --rose: rgb(245,100,118);
    --cerise: rgb(228,63,111);
}

body {
    height: 100vh;
    margin: 0;
}

.container {
    display: grid;
    grid-template-rows: 1fr 9fr;
    height: 100%;
}

.toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--blue);
}

#reset {
    font-size: 1.5rem;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
}

.finished {
    background-color: var(--cerise);
    color: white;
    transition: 1s;
}

.game-area {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    background-color: var(--charcoal);
    color: white;
}

.player {
    text-align: center;
}

#player1 .score {
    background-color: rgb(var(--mint), 0.8);
}

#player2 .score {
    background-color: rgb(var(--pink), 0.8);
}

.score {
    width: 80%;
    padding: 1rem 0;
    margin: 1rem auto auto auto;
    border-radius: 1rem;
}

.player img {
    width: 80%;
    height: auto;
    border-color: transparent;
    border-radius: 1rem;
}

#board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    height: 70vh;
    width: 70vh;
    justify-items: center;
    justify-self: center;
    align-items: center;
    align-self: center;
    border-radius: 1rem;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    background-color: white;
    width: 95%;
    height: 95%;
    font-size: 18vh;
    cursor: pointer;
}

.square:hover {
    width: 98%;
    height: 98%;
}

.X {
    color: rgb(var(--mint), 0.8);
}

.O {
    color: rgb(var(--pink), 0.8);
}

.win {
    border: 10px solid var(--cerise);
    transition: .4s;
}